
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="background-image">
</div>
<div class="wrapper">
    <form id="formFuncionario" class="form-horizontal login" onsubmit="return false;">
        <p class="title">Crear usuario</p>
        <input id="txtMail" type="text" placeholder="Mail" autofocus />
        <i class="fa fa-user"></i>
        <input id="txtContraseña" type="password" placeholder="Contraseña" />
        <i class="fa fa-key"></i>
        <button id="btnSaveFuncionario">
            <span>Crear Usuario</span>
        </button>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/Login/CreateUser.js"></script>
    <script>
        $(document).ready(function () {
            FuncionarioDetails.init();
        });
    </script>
}
